.air-tree-wrapper {
  position: relative;
  width: 100%;

  .air-tree-root-button {
    position: absolute;
    top: 12px;
    height: 36px;
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  .air-tree {
    .air-tree-node-icon {
      width: 22px;
      height: 18px;
      line-height: 18px;
      float: left;
      // 上下居中
      display: flex;
      align-items: center;
    }

    .air-tree-label {
      display: flex;
      align-items: center;
      height: 36px;
      line-height: 36px;
      user-select: none;

      span {
        width: calc(100% - 36px);

        font-family: var(--font-family);
        font-size: 0.95rem;
      }

      Button {
        border: none;
        background-color: transparent;
        width: 0;
        height: 20px;
        visibility: hidden;
        padding: 0 !important;

        span {
          width: 20px;
        }

        svg {
          font-size: 11px;
          color: transparent;
        }
      }

      Button:hover {
        svg {
          background-color: transparent;
        }
      }
    }

    .air-tree-label-with-button:hover {
      span {
        width: calc(100% - 50px);
      }

      Button {
        visibility: visible;
        width: 20px;
        background: #e1e2e3;

        span {
          width: 20px;
        }

        svg {
          color: gray;
        }
      }
    }

    .semi-tree-search-wrapper {
      display: flex;
      align-items: center;
      height: 60px;
      padding-right: 12px;
      box-sizing: border-box;

      .semi-tree-input {
        border: 1px solid #ddd;
        height: 38px;
      }
    }

    .semi-tree-option-list {
      padding: 0;
      overflow: hidden;
    }
  }
}

:global {
  .semi-dropdown .semi-dropdown-content {
    border-radius: 5px;
  }
}
