.airGroupSplitterContainer {
  display: flex;
  align-content: center;
  width: 100%;
  background: var(--color-100);
  margin: 24px 0 12px 0;
  border-radius: 4px;

  .airGroupSplitterLeftHr {
    border-left: 4px solid var(--primary-color);
    border-radius: 4px;
    margin-right: 12px;
  }

  .airGroupSplitterTitle {
    display: flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    font-family: var(--font-family);
    font-size: 0.9rem;
    font-weight: bold;
  }
}
