.air-editor-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;

  .air-editor-toolbar-item {
    display: flex;
    flex-direction: row;

    .air-editor-toolbar-item-dropdown {
      height: 32px;
      width: 65px;
      font-size: 0.85rem;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
      padding: 0 6px 0 6px;
      border-radius: 3px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: #f0f0f0;
      }

      svg {
        margin-top: 2px;
      }
    }

    .air-editor-toolbar-item-button {
      width: 28px;
      height: 28px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        background-color: #f0f0f0;
      }

      &.button-active {
        background-color: #d2daf5;
      }
    }

    .air-editor-toolbar-item-select {
      width: 100px;

      .air-select-selector {
        border: none;
        border-radius: 3px;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  .air-editor-toolbar-separator {
    width: 1px;
    height: 24px;
    background-color: #e0e0e0;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;
  }
}

.air-select-focused:where(.css-dev-only-do-not-override-161f05s).air-select-outlined {
  &:not(.air-select-disabled):not(.air-select-customize-input):not(.air-pagination-size-changer) {
    .air-select-selector {
      // 在这里写样式
      box-shadow: none;
      background-color: #f0f0f0;
    }
  }
}