/* 隐藏 Excalidraw 帮助按钮和库按钮（增强版） */
.excalidraw .help-icon {
  display: none !important;
}

/* 隐藏菜单按钮 */
.excalidraw .main-menu-trigger {
  display: none !important;
}

/* 隐藏素材库按钮 */
.excalidraw .App-menu_top > *:last-child {
  display: none !important;
}

.excalidraw .App-menu_bottom {
  padding-left: 50px;
  padding-bottom: 7px;
}

.excalidraw .App-bottom-bar > .Island {
  box-shadow: none;
  width: 180px;
  max-width: 180px;
  min-width: 180px;
}

.excalidraw .App-toolbar-content {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: fit-content; /* 宽度自动适应内容 */
  min-width: auto; /* 最小宽度自动 */
}

.excalidraw .sidebar-trigger__label-element {
  display: none !important;
}
