.air-admin-paas {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family) !important;
  box-sizing: border-box;

  .air-admin-paas-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .air-admin-paas-panel {
    flex: 1;
    overflow: auto;
  }
}
