.airToggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;

  // 基础状态样式
  background-color: transparent;
  color: inherit;

  // 悬停样式
  &:hover {
    background-color: #eee !important;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
  }
}
