.air-slide-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: var(--panel-border);

  .air-slide-header-title {
    font-family: var(--font-family);
    font-size: 0.95rem;
    font-weight: 550;
    padding: 0 16px;
    user-select: none;
  }

  .air-slide-header-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 12px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;

    &:hover {
      border: 1px solid #ddd;
      border-radius: 3px;
      background: #f2f4f6;
    }
  }
}

.air-slide-body {
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;

  .semi-tabs {
    .semi-tabs-bar {
      height: 36px;
      box-sizing: border-box;
      margin-top: 4px;
      padding: 0 16px;

      .semi-tabs-tab {
        font-size: 0.9rem;
      }
    }
  }

  .semi-tabs-content {
    padding: 0;
  }
}

.air-slide-footer {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
