:root {
  --air-tab-panel-height: 36px;
}

.air-tab-panel {
  .air-tabs {
    .air-tabs-nav {
      margin: 0;
      background: #f1f2f3;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;

      &::before {
        border-bottom: 1px solid #ddd;
      }
    }

    .air-tabs-tab-remove {
      margin-right: 4px;
      margin-left: 0;
    }
  }

  .ant-tabs-dropdown {
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;

    .ant-tabs-dropdown-menu-item {
      padding: 0 8px;

      span div {
        line-height: var(--air-tab-panel-height);
        user-select: none;
      }
    }
  }

  .air-tabs-card .air-tabs-nav {
    user-select: none;
    font-weight: 400;
    height: var(--air-tab-panel-height);
    line-height: var(--air-tab-panel-height);
    border-bottom: none;

    .air-tabs-tab {
      display: flex;
      align-items: center;

      height: var(--air-tab-panel-height);
      border: none;
      border-bottom: 3px solid transparent;
      border-radius: 0;
      padding: 5px 5px 2px 2px;
      margin: 0 !important;
      font-weight: 450;
      font-family: var(--font-family);
      font-size: 0.95rem;

      .air-tabs-button {
        display: flex;
        align-items: center;
        font-size: 0.95rem;
        font-family: var(--font-family);

        .air-tabs-button-split {
          width: 2px;
          height: 18px;
          border-radius: 20%;
          background: #aaa;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 4px;
        }
      }

      .air-tabs-tab-btn {
        display: flex;
        align-items: center;
        margin: 0 8px;

        .air-tabs-tab-icon {
          display: flex;
          margin-left: 0;
        }
      }

      .air-tabs-tab-remove svg {
        width: 10px;
      }
    }

    .air-tabs-tab-active {
      height: var(--air-tab-panel-height);
      padding: 5px 5px 2px 2px;
      border-bottom: 3px solid var(--primary-color);
      border-radius: 0;

      .air-tabs-tab-btn {
        color: var(--primary-color);
      }
    }
  }
}
